USE [master]
GO
/****** Object:  Database [PROYECTO_PROGRAMACION]    Script Date: 24/10/2019 11:33:50 ******/
CREATE DATABASE [PROYECTO_PROGRAMACION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECTO_PROGRAMACION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PROYECTO_PROGRAMACION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROYECTO_PROGRAMACION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PROYECTO_PROGRAMACION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROYECTO_PROGRAMACION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROYECTO_PROGRAMACION]
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGO](
	[ID_CARGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CARGO] [varchar](100) NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[SUELDO_FIJO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID_PERSONA] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](50) NULL,
	[NOMBRE] [varchar](50) NULL,
	[APE_PATERNO] [varchar](50) NULL,
	[APE_MATERNO] [varchar](50) NULL,
	[CI] [int] NULL,
	[EX] [varchar](2) NULL,
	[DIRECION] [varchar](100) NULL,
	[SEXO] [varchar](20) NULL,
	[TELEFONO] [int] NULL,
	[CELULAR] [int] NULL,
	[FECHA] [date] NULL,
	[ESTADO_SUBSIDIO] [varchar](10) NULL,
	[ID_CARGO] [int] NULL,
	[DL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_LISTA_PERSONAS]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------CREAR VISTA 
CREATE VIEW [dbo].[VISTA_LISTA_PERSONAS]
AS 
SELECT P.ID_PERSONA,P.CODIGO,P.NOMBRE,P.APE_PATERNO,P.APE_MATERNO,P.CI,P.EX,P.DIRECION,P.SEXO,P.TELEFONO,P.CELULAR,P.FECHA,P.ESTADO_SUBSIDIO,C.NOMBRE_CARGO FROM PERSONA AS P,CARGO AS C WHERE P.ID_CARGO=C.ID_CARGO 
------VER VISTA
GO
/****** Object:  View [dbo].[VISTA_LISTA_PERSONAS2]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_LISTA_PERSONAS2]
AS 
SELECT P.ID_PERSONA,P.CODIGO,P.NOMBRE,P.APE_PATERNO,P.APE_MATERNO,P.CI,P.EX,P.DIRECION,P.SEXO,P.TELEFONO,P.CELULAR,P.FECHA,P.ESTADO_SUBSIDIO,C.NOMBRE_CARGO, DL FROM PERSONA AS P,CARGO AS C WHERE P.ID_CARGO=C.ID_CARGO AND DL=1

GO
/****** Object:  Table [dbo].[DESCUENTOS]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESCUENTOS](
	[ID_DESCUENTOS] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_DESCUENTO] [varchar](100) NULL,
	[VALOR] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DESCUENTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESEMPLEADOS]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESEMPLEADOS](
	[ID_DESEMPLEADOS] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[ID_PERSONA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DESEMPLEADOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_SUELDO]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_SUELDO](
	[ID_DETALLEDES] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NULL,
	[ID_DESCUENTOS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLEDES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRADA]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADA](
	[ID_ENTRADA] [int] IDENTITY(1,1) NOT NULL,
	[HORA] [time](7) NULL,
	[FECHA] [date] NULL,
	[ID_PERSONA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ENTRADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIO]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIO](
	[ID_HORARIO] [int] IDENTITY(1,1) NOT NULL,
	[HORA_ENTRADA] [time](7) NULL,
	[HORA_SALIDA] [time](7) NULL,
	[FECHA] [date] NULL,
	[ID_PERSONA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HORARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALIDA]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALIDA](
	[ID_SALIDA] [int] IDENTITY(1,1) NOT NULL,
	[HORA] [time](7) NULL,
	[FECHA] [date] NULL,
	[ID_PERSONA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SALIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUELDO]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUELDO](
	[ID_SUELDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DETALLEDES] [int] NULL,
	[SUELDO_TOTAL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUELDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETA]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETA](
	[ID_TARJETA] [varchar](20) NULL,
	[ID_PERSONA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 24/10/2019 11:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[USUARIO] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[TIPO_USUARIO] [varchar](100) NULL,
	[ID_PERSONA] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CARGO] ON 
GO
INSERT [dbo].[CARGO] ([ID_CARGO], [NOMBRE_CARGO], [DESCRIPCION], [SUELDO_FIJO]) VALUES (1, N'ADMINISTRADOR', N'JEFE DE LA EMPRESA', 15000)
GO
INSERT [dbo].[CARGO] ([ID_CARGO], [NOMBRE_CARGO], [DESCRIPCION], [SUELDO_FIJO]) VALUES (2, N'PORTERO', N'CUIDADOR DE LA PUERTA', 2000)
GO
INSERT [dbo].[CARGO] ([ID_CARGO], [NOMBRE_CARGO], [DESCRIPCION], [SUELDO_FIJO]) VALUES (3, N'CONTADOR', N'SE ENCARGA DE LA PARTE ECONOMICA DE LA EMPRESA', 5000)
GO
SET IDENTITY_INSERT [dbo].[CARGO] OFF
GO
SET IDENTITY_INSERT [dbo].[ENTRADA] ON 
GO
INSERT [dbo].[ENTRADA] ([ID_ENTRADA], [HORA], [FECHA], [ID_PERSONA]) VALUES (1, CAST(N'00:15:14' AS Time), CAST(N'2019-10-22' AS Date), 3)
GO
INSERT [dbo].[ENTRADA] ([ID_ENTRADA], [HORA], [FECHA], [ID_PERSONA]) VALUES (2, CAST(N'00:15:44' AS Time), CAST(N'2019-10-22' AS Date), 4)
GO
INSERT [dbo].[ENTRADA] ([ID_ENTRADA], [HORA], [FECHA], [ID_PERSONA]) VALUES (3, CAST(N'00:16:09' AS Time), CAST(N'2019-10-22' AS Date), 5)
GO
SET IDENTITY_INSERT [dbo].[ENTRADA] OFF
GO
SET IDENTITY_INSERT [dbo].[HORARIO] ON 
GO
INSERT [dbo].[HORARIO] ([ID_HORARIO], [HORA_ENTRADA], [HORA_SALIDA], [FECHA], [ID_PERSONA]) VALUES (20, CAST(N'08:05:05' AS Time), CAST(N'16:00:00' AS Time), CAST(N'2019-10-01' AS Date), 1)
GO
INSERT [dbo].[HORARIO] ([ID_HORARIO], [HORA_ENTRADA], [HORA_SALIDA], [FECHA], [ID_PERSONA]) VALUES (21, CAST(N'08:15:05' AS Time), CAST(N'16:30:12' AS Time), CAST(N'2019-10-01' AS Date), 3)
GO
INSERT [dbo].[HORARIO] ([ID_HORARIO], [HORA_ENTRADA], [HORA_SALIDA], [FECHA], [ID_PERSONA]) VALUES (22, CAST(N'09:02:05' AS Time), CAST(N'15:25:20' AS Time), CAST(N'2019-10-01' AS Date), 4)
GO
SET IDENTITY_INSERT [dbo].[HORARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONA] ON 
GO
INSERT [dbo].[PERSONA] ([ID_PERSONA], [CODIGO], [NOMBRE], [APE_PATERNO], [APE_MATERNO], [CI], [EX], [DIRECION], [SEXO], [TELEFONO], [CELULAR], [FECHA], [ESTADO_SUBSIDIO], [ID_CARGO], [DL]) VALUES (1, N'MALL-9962028', N'RONALD', N'MAMANI', N'LLUSCO', 9962028, N'LP', N'SANTIAGO PRIMERO', N'MASCULINO', 2525251, 77761730, CAST(N'1995-05-05' AS Date), N'NO', 1, 1)
GO
INSERT [dbo].[PERSONA] ([ID_PERSONA], [CODIGO], [NOMBRE], [APE_PATERNO], [APE_MATERNO], [CI], [EX], [DIRECION], [SEXO], [TELEFONO], [CELULAR], [FECHA], [ESTADO_SUBSIDIO], [ID_CARGO], [DL]) VALUES (3, N'FLCA-9975200', N'FRANZ', N'FLORES', N'CALLAPA', 9975200, N'OR', N'ZONA SANTA ROSA', N'MASCULINO', 2154654, 67166100, CAST(N'2019-10-24' AS Date), N'SI', 2, 1)
GO
INSERT [dbo].[PERSONA] ([ID_PERSONA], [CODIGO], [NOMBRE], [APE_PATERNO], [APE_MATERNO], [CI], [EX], [DIRECION], [SEXO], [TELEFONO], [CELULAR], [FECHA], [ESTADO_SUBSIDIO], [ID_CARGO], [DL]) VALUES (4, N'MOAY-9975300', N'CAMILA', N'MORALES', N'AYMA', 9975300, N'LP', N'VILLA ESPERANZA', N'MASCULINO', 2323232, 67155855, CAST(N'2019-10-24' AS Date), N'NO', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
GO
SET IDENTITY_INSERT [dbo].[SALIDA] ON 
GO
INSERT [dbo].[SALIDA] ([ID_SALIDA], [HORA], [FECHA], [ID_PERSONA]) VALUES (1, CAST(N'00:15:18' AS Time), CAST(N'2019-10-22' AS Date), 3)
GO
INSERT [dbo].[SALIDA] ([ID_SALIDA], [HORA], [FECHA], [ID_PERSONA]) VALUES (2, CAST(N'00:15:48' AS Time), CAST(N'2019-10-22' AS Date), 4)
GO
INSERT [dbo].[SALIDA] ([ID_SALIDA], [HORA], [FECHA], [ID_PERSONA]) VALUES (3, CAST(N'00:16:12' AS Time), CAST(N'2019-10-22' AS Date), 5)
GO
SET IDENTITY_INSERT [dbo].[SALIDA] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 
GO
INSERT [dbo].[USUARIO] ([ID], [NOMBRE], [USUARIO], [PASSWORD], [TIPO_USUARIO], [ID_PERSONA]) VALUES (1, N'RONALD MAMANI', N'RONALD', N'RONALD', N'ADMINISTRADOR', 1)
GO
INSERT [dbo].[USUARIO] ([ID], [NOMBRE], [USUARIO], [PASSWORD], [TIPO_USUARIO], [ID_PERSONA]) VALUES (2, N'FRANZ FLORES', N'FRANZ', N'FLCA-9975200', N'PORTERO', 3)
GO
INSERT [dbo].[USUARIO] ([ID], [NOMBRE], [USUARIO], [PASSWORD], [TIPO_USUARIO], [ID_PERSONA]) VALUES (3, N'ADRIANA CUSI', N'ADRIANA', N'CUCA-9975300', N'PORTERO', 4)
GO
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[DESEMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_ID_PERSONA2] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DESEMPLEADOS] CHECK CONSTRAINT [FK_ID_PERSONA2]
GO
ALTER TABLE [dbo].[DETALLE_SUELDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_DESCUENTOS1] FOREIGN KEY([ID_DESCUENTOS])
REFERENCES [dbo].[DESCUENTOS] ([ID_DESCUENTOS])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_SUELDO] CHECK CONSTRAINT [FK_ID_DESCUENTOS1]
GO
ALTER TABLE [dbo].[DETALLE_SUELDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_PERSONAS5] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_SUELDO] CHECK CONSTRAINT [FK_ID_PERSONAS5]
GO
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD  CONSTRAINT [FK_ID_PERSONA3] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ENTRADA] CHECK CONSTRAINT [FK_ID_PERSONA3]
GO
ALTER TABLE [dbo].[HORARIO]  WITH CHECK ADD  CONSTRAINT [FK_ID_PERSONAS6] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HORARIO] CHECK CONSTRAINT [FK_ID_PERSONAS6]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_ID_CARGO] FOREIGN KEY([ID_CARGO])
REFERENCES [dbo].[CARGO] ([ID_CARGO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_ID_CARGO]
GO
ALTER TABLE [dbo].[SALIDA]  WITH CHECK ADD  CONSTRAINT [FK_ID_PERSONAS4] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALIDA] CHECK CONSTRAINT [FK_ID_PERSONAS4]
GO
ALTER TABLE [dbo].[SUELDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_DETALLEDES2] FOREIGN KEY([ID_DETALLEDES])
REFERENCES [dbo].[DETALLE_SUELDO] ([ID_DETALLEDES])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUELDO] CHECK CONSTRAINT [FK_ID_DETALLEDES2]
GO
ALTER TABLE [dbo].[TARJETA]  WITH CHECK ADD  CONSTRAINT [FK_ID_PERSONA1] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TARJETA] CHECK CONSTRAINT [FK_ID_PERSONA1]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_ID_PERSONA5] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_ID_PERSONA5]
GO
/****** Object:  StoredProcedure [dbo].[reporte_horas]    Script Date: 24/10/2019 11:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[reporte_horas] 
	@fecha Date,
	@id int
AS
BEGIN
	SELECT HORA_ENTRADA, HORA_SALIDA, H.FECHA, NOMBRE, C.NOMBRE_CARGO,
	HORAS=CONCAT(datediff( HOUR,HORA_ENTRADA,HORA_SALIDA),' Horas')
	FROM HORARIO H
	inner join PERSONA P ON (H.ID_PERSONA = P.ID_PERSONA)
	INNER JOIN CARGO C ON(P.ID_CARGO = C.ID_CARGO)
	WHERE DATEPART(MONTH,H.FECHA) = DATEPART(MONTH,@fecha)
	AND H.ID_PERSONA=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[SUELDO_CANCELAR]    Script Date: 24/10/2019 11:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUELDO_CANCELAR]
	@fecha date,
	@id int
AS
BEGIN
	SELECT P.NOMBRE,P.APE_PATERNO,P.APE_MATERNO,C.NOMBRE_CARGO,C.SUELDO_FIJO,
	SUM (datediff( HOUR,HORA_ENTRADA,HORA_SALIDA)) AS TOTAL_HORAS,
	COUNT(H.HORA_ENTRADA) DIAS_TRABAJADOS,
	UPPER( datename(MONTH,H.FECHA)) AS MES_TRABAJADO,
	SUELDO=((SUELDO_FIJO/28)/8)*SUM (datediff( HOUR,HORA_ENTRADA,HORA_SALIDA)),
	DESCUENTO_CAJA_SALUD=(((SUELDO_FIJO/28)/8)*SUM (datediff( HOUR,HORA_ENTRADA,HORA_SALIDA)))*0.10,
	DESCUENTO_AFPs=(((SUELDO_FIJO/28)/8)*SUM (datediff( HOUR,HORA_ENTRADA,HORA_SALIDA)))*0.12,
	TOTAL_CANCELAR=((SUELDO_FIJO/28)/8)*SUM (datediff( HOUR,HORA_ENTRADA,HORA_SALIDA))-((((SUELDO_FIJO/28)/8)*SUM (datediff( HOUR,HORA_ENTRADA,HORA_SALIDA)))*0.10)-((((SUELDO_FIJO/28)/8)*SUM (datediff( HOUR,HORA_ENTRADA,HORA_SALIDA)))*0.12)
	FROM HORARIO H
	INNER JOIN PERSONA P
	ON (H.ID_PERSONA=P.ID_PERSONA)
	INNER JOIN CARGO C 
	ON (P.ID_CARGO =C.ID_CARGO)
	WHERE H.ID_PERSONA=@id and DATEPART(MONTH,H.FECHA) = DATEPART(MONTH,@fecha)
	GROUP BY NOMBRE,APE_PATERNO,APE_MATERNO,C.NOMBRE_CARGO,C.SUELDO_FIJO,datename(MONTH,H.FECHA);

END
GO
/****** Object:  StoredProcedure [dbo].[TOTAL_HORAS]    Script Date: 24/10/2019 11:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOTAL_HORAS]
	@id int
AS
BEGIN
	SELECT SUM (datediff( HOUR,HORA_ENTRADA,HORA_SALIDA)) AS TOTAL_HORAS
	FROM HORARIO 
	WHERE ID_PERSONA=@id;
END
GO
USE [master]
GO
